.start-btn{
    color: white;
    font-weight: bold;
    border: none;
    background-color: green;
    padding: 10px;
    border-radius: 8px;
    margin-right: 5px;
}

.start-btn:disabled{
    background-color: gray;
}

.stop-btn{
    color: white;
    font-weight: bold;
    border: none;
    background-color: red;
    padding: 10px;
    border-radius: 8px;
}

.stop-btn:disabled{
    background-color: gray;
}